.App {

  height: 100%;
  width: 100%;
  display: grid;
  /* grid-template-rows: 10% 20% 70%; */
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.App>.Header {
 
  grid-column: 12 span;
  grid-row: 1 span;
  color: var(--background-color);
background-color: var(--primary-color);
}

.App>.Menu {

  /* grid-column: 2 span;
  grid-row: 10 span; */
  grid-column: 12 span;
  grid-row: 1 span;
  background-color:var(--secondary-color);
color: var(--secondary-color);

}

.App>.Main {

  /* grid-column: 10 span;
  grid-row: 10 span; */
  grid-column: 12 span;
  grid-row: 9 span;
  background-color:var(--background-color);
  color: var(--primary-color);
}

.App>.Footer {
  /* background-color: orangered; */
  grid-column: 12 span;
  grid-row: 1 span;
  color: var(--background-color);
  background-color: var(--primary-color);
}

.App button {
  font-size: 28px;
}